@import "../../global/app.css";

.opportunity-list-section .section-descr {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
}

.opportunity-list-section .container {
    margin-bottom: 72px;
}

opportunity-item:nth-child(2) .list,
opportunity-item:nth-child(3) .list,
opportunity-item:nth-child(4) .list {
    list-style-type: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .opportunity-list-section .section-descr {
        flex-direction: column;
        margin-left: 0;
    }

    .opportunity-list-section .container {
        margin-bottom: 15px;
    }
}
